

body{
    background: darkred;
    background-image: url('https://az616578.vo.msecnd.net/files/responsive/cover/main/desktop/2016/05/22/6359949242235344891413001074_All%20the%20anime.jpeg');
    object-fit: contain;
}

a{
    color: inherit;
    text-decoration: inherit;
}

#title-bar{
    display: inline-block;
    text-align: center;
    background: red;
    color: darkslategray;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    border-top: 0;
    border-bottom: 2px solid black;
    z-index: 5;
}

#title-bar > a > h1{
    color: goldenrod;
}

#title-bar > a > h1:hover{
    color: yellow;
    cursor: pointer;    
}

#title-bar > nav > ul{
    display: flex;
    justify-content: space-around;
}

#title-bar > nav > ul > a > li:hover{
    color: lightgray;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
}

#content-area{
    display: flex;
    text-align: left;
    flex-grow: 1;
    background: tomato;
    padding: 0;
    margin-top: 20vh;
    margin-left: 20%;
    margin-right: 20%;
    width: 59.5vw;
    min-height: 40vh;
}

h2{

    text-align: center;

}

div{
    display: flex;
    justify-content: left;
    background: whitesmoke;
    width: 59.5vw;
    min-height: 250px;
    flex-grow: 1;
    border: 2px solid black;
    box-shadow: 0px 2px 2px 0px gray;
    list-style-type: square;
}

div > img{
    display: flex;
    justify-content: flex-start;
    object-fit: contain;
    max-height: 350px;
    max-width: 350px;
}

#other-name{
    list-style: none;
    margin: 0;
    padding: 0;
}